html
    head
        title=title
        link(rel="stylesheet" type="text/css" href="/rec/style.css")
        link(rel="stylesheet" type="text/css" href="/rec/terminal.css")
        script(src="/rec/app.js")
        script(src="/rec/terminal.js")
        script(src="/rec/commands.js")
    body
        #terminal
            p
                span.header
                span(contenteditable="true" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false").input
        script.
            var files = !{JSON.stringify(files)},
                path = !{JSON.stringify(path)};
            var headerPath = path[path.length - 1];
            var header = makeHeader();

            document.getElementsByClassName("header")[0].innerHTML = header;

            terminal = Terminal.init(document.getElementById("terminal"), commands);