---
layout: terminal.pug
title: mapinis 
key: __index
path: ["/"]
files: {}
---

// TODO:
//  The path section can be automated, as the property names in plugins are the path. This can be broken down and then converted to a path. 
//  It would be best to splic out any instances of index.pug`