---
layout: terminal.pug
title: mapinis 
key: __index
---
// Change title so that it is based on path
- var files = []
- var path = ["~"]

script.
    var files = !{JSON.stringify(files)},
        path = !{JSON.stringify(path)};